h1 #{Article.model_name.human}編集

= render 'form', article: @article

= link_to 'ユーザーを削除', article_path(@article), method: :delete, data: { confirm: "ユーザー「#{@article.title}」を削除します。よろしいですか？" }, class: 'btn btn-danger mt-5'

