h1 #{User.model_name.human}編集

= render 'form', user: @user

= link_to 'ユーザーを削除', user_path(@user), method: :delete, data: { confirm: "ユーザー「#{@user.name}」を削除します。よろしいですか？" }, class: 'btn btn-danger mt-5'